body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:827px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:877px;
  height:546px;
}
#u0 {
  position:absolute;
  left:-25px;
  top:-20px;
  width:877px;
  height:546px;
}
#u1 {
  position:absolute;
  left:2px;
  top:265px;
  width:873px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:224px;
  top:199px;
  width:149px;
  height:202px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3 {
  position:absolute;
  left:247px;
  top:448px;
  width:408px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
